In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

/Users/leo/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_excel('./merge.xlsx')

In [3]:
# Save data to pickle
data.to_pickle('./merge_data.pkl')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1047614 entries, 0 to 1047613
Data columns (total 10 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unnamed: 0         1047614 non-null  int64
 1   Time               1047614 non-null  datetime64[ns]
 2   BuildingID         1047614 non-null  int64
 3   Type               1047614 non-null  object
 4   Record             1047614 non-null  float64
 5   temp               1046654 non-null  float64
 6   dew point          1046654 non-null  float64
 7   relative humidity  1046654 non-null  float64
 8   air pressure       1046654 non-null  float64
 9   wind speed         1046654 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 79.9+ MB

In [6]:
# 读入train_building_info
building_info_data = pd.read_excel('./5 train_building_info.xlsx')

In [7]:
building_info_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   BuildingID  20 non-null     int64
 1   Stair1      20 non-null     int64
 2   Stair2      20 non-null     int64
 3   Area        20 non-null     float64
 4   HVACType    20 non-null     object
dtypes: float64(1), int64(3), object(1)
memory usage: 928.0+ bytes

In [8]:
data_merge_building_info = pd.merge(data, building_info_data, how='left', on='BuildingID')

In [9]:
data_merge_building_info.head()

,Unnamed: 0,Time,BuildingID,Type,Record,temp,dew point,relative humidity,air pressure,wind speed,Stair1,Stair2,Area,HVACType
0,0,2015-01-01 00:00:00,0,Q,222.00,1.5,-12.0,36.5,1033.0,16.2,6,1,77563.54,集中式全空气系统
1,1,2015-01-01 00:00:00,0,W,203.15,1.5,-12.0,36.5,1033.0,16.2,6,1,77563.54,集中式全空气系统
2,2,2015-01-01 01:00:00,0,Q,236.00,1.0,-10.5,42.5,1033.0,14.4,6,1,77563.54,集中式全空气系统
3,3,2015-01-01 01:00:00,0,W,205.14,1.0,-10.5,42.5,1033.0,14.4,6,1,77563.54,集中式全空气系统
4,4,2015-01-01 02:00:00,0,Q,222.00,1.0,-11.0,41.0,1033.0,18.0,6,1,77563.54,集中式全空气系统

In [11]:
data_merge_building_info.describe()

,Unnamed: 0,BuildingID,Record,temp,dew point,relative humidity,air pressure,wind speed,Stair1,Stair2,Area
count,1.047614e+06,1.047614e+06,1.047614e+06,1.046654e+06,1.046654e+06,1.046654e+06,1.046654e+06,1.046654e+06,1.047614e+06,1.047614e+06,1.047614e+06
mean,5.238065e+05,9.471794e+00,2.126112e+02,1.812131e+01,1.235812e+01,7.145447e+01,1.016095e+03,1.345206e+01,1.890576e+01,1.451953e+00,4.390242e+04
std,3.024203e+05,5.762828e+00,2.261805e+03,9.013489e+00,9.534052e+00,1.767408e+01,9.564084e+00,6.381070e+00,8.673875e+00,8.659456e-01,1.550090e+04
min,0.000000e+00,0.000000e+00,-4.378370e+05,-7.000000e+00,-1.900000e+01,1.300000e+01,5.540000e+02,0.000000e+00,6.000000e+00,0.000000e+00,2.162700e+04
25%,2.619032e+05,4.000000e+00,2.625000e+01,1.050000e+01,5.000000e+00,6.000000e+01,1.008000e+03,9.000000e+00,1.000000e+01,1.000000e+00,3.433500e+04
50%,5.238065e+05,9.000000e+00,1.036300e+02,1.900000e+01,1.350000e+01,7.400000e+01,1.016000e+03,1.260000e+01,2.100000e+01,1.000000e+00,4.226600e+04
75%,7.857098e+05,1.400000e+01,2.310000e+02,2.500000e+01,2.050000e+01,8.600000e+01,1.023000e+03,1.800000e+01,2.600000e+01,2.000000e+00,5.009100e+04
max,1.047613e+06,1.900000e+01,1.966968e+06,4.050000e+01,2.850000e+01,1.000000e+02,1.042000e+03,4.320000e+01,3.200000e+01,4.000000e+00,8.725153e+04

In [10]:
data_merge_building_info.to_pickle('./0514_AllDataMerged_NoProcessed.pkl')

### 处理空值

In [18]:
data_merge_building_info[data_merge_building_info['temp'].isnull()]

,Unnamed: 0,Time,BuildingID,Type,Record,temp,dew point,relative humidity,air pressure,wind speed,Stair1,Stair2,Area,HVACType
353232,353232,2016-02-29 00:00:00,0,Q,199.00,NaN,NaN,NaN,NaN,NaN,6,1,77563.54,集中式全空气系统
353233,353233,2016-02-29 00:00:00,0,W,97.23,NaN,NaN,NaN,NaN,NaN,6,1,77563.54,集中式全空气系统
353234,353234,2016-02-29 01:00:00,0,Q,205.00,NaN,NaN,NaN,NaN,NaN,6,1,77563.54,集中式全空气系统
353235,353235,2016-02-29 01:00:00,0,W,78.25,NaN,NaN,NaN,NaN,NaN,6,1,77563.54,集中式全空气系统
353236,353236,2016-02-29 02:00:00,0,Q,187.00,NaN,NaN,NaN,NaN,NaN,6,1,77563.54,集中式全空气系统
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687067,687067,2016-02-29 21:00:00,19,W,18.93,NaN,NaN,NaN,NaN,NaN,6,1,35000.00,集中式全空气系统
687068,687068,2016-02-29 22:00:00,19,Q,107.67,NaN,NaN,NaN,NaN,NaN,6,1,35000.00,集中式全空气系统
687069,687069,2016-02-29 22:00:00,19,W,15.22,NaN,NaN,NaN,NaN,NaN,6,1,35000.00,集中式全空气系统
687070,687070,2016-02-29 23:00:00,19,Q,97.82,NaN,NaN,NaN,NaN,NaN,6,1,35000.00,集中式全空气系统
687071,687071,2016-02-29 23:00:00,19,W,14.80,NaN,NaN,NaN,NaN,NaN,6,1,35000.00,集中式全空气系统

### 天气数据中没有2016-02-29的记录，这天的Record删掉

In [32]:
nan_index = data_merge_building_info.index[np.where(data_merge_building_info['temp'].isna())]

In [35]:
data_new = data_merge_building_info.drop(nan_index)

In [36]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1046654 entries, 0 to 1047613
Data columns (total 14 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Unnamed: 0         1046654 non-null  int64
 1   Time               1046654 non-null  datetime64[ns]
 2   BuildingID         1046654 non-null  int64
 3   Type               1046654 non-null  object
 4   Record             1046654 non-null  float64
 5   temp               1046654 non-null  float64
 6   dew point          1046654 non-null  float64
 7   relative humidity  1046654 non-null  float64
 8   air pressure       1046654 non-null  float64
 9   wind speed         1046654 non-null  float64
 10  Stair1             1046654 non-null  int64
 11  Stair2             1046654 non-null  int64
 12  Area               1046654 non-null  float64
 13  HVACType           1046654 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(4), object(2)
memory usage: 119.8+ MB

In [37]:
data_new.tail()

,Unnamed: 0,Time,BuildingID,Type,Record,temp,dew point,relative humidity,air pressure,wind speed,Stair1,Stair2,Area,HVACType
1047609,1047609,2017-12-31 21:00:00,19,W,0.72,6.0,2.5,78.5,1028.0,4.5,6,1,35000.0,集中式全空气系统
1047610,1047610,2017-12-31 22:00:00,19,Q,23.28,6.0,2.5,78.5,1028.0,2.2,6,1,35000.0,集中式全空气系统
1047611,1047611,2017-12-31 22:00:00,19,W,0.88,6.0,2.5,78.5,1028.0,2.2,6,1,35000.0,集中式全空气系统
1047612,1047612,2017-12-31 23:00:00,19,Q,33.84,6.0,3.0,81.0,1028.0,4.5,6,1,35000.0,集中式全空气系统
1047613,1047613,2017-12-31 23:00:00,19,W,0.72,6.0,3.0,81.0,1028.0,4.5,6,1,35000.0,集中式全空气系统

In [41]:
data_new[data_new['temp'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, Time, BuildingID, Type, Record, temp, dew point, relative humidity, air pressure, wind speed, Stair1, Stair2, Area, HVACType]
Index: []

In [44]:
data_new.iloc[353232]

Unnamed: 0                        353280
Time                 2016-03-01 00:00:00
BuildingID                             0
Type                                   Q
Record                               219
temp                                   3
dew point                             -6
relative humidity                     52
air pressure                        1033
wind speed                          12.6
Stair1                                 6
Stair2                                 1
Area                             77563.5
HVACType                        集中式全空气系统
Name: 353280, dtype: object

In [46]:
data_new.describe()

,Unnamed: 0,BuildingID,Record,temp,dew point,relative humidity,air pressure,wind speed,Stair1,Stair2,Area
count,1.046654e+06,1.046654e+06,1.046654e+06,1.046654e+06,1.046654e+06,1.046654e+06,1.046654e+06,1.046654e+06,1.046654e+06,1.046654e+06,1.046654e+06
mean,5.238099e+05,9.471768e+00,2.125787e+02,1.812131e+01,1.235812e+01,7.145447e+01,1.016095e+03,1.345206e+01,1.890581e+01,1.451955e+00,4.390247e+04
std,3.025433e+05,5.762824e+00,2.262820e+03,9.013489e+00,9.534052e+00,1.767408e+01,9.564084e+00,6.381070e+00,8.673854e+00,8.659469e-01,1.550090e+04
min,0.000000e+00,0.000000e+00,-4.378370e+05,-7.000000e+00,-1.900000e+01,1.300000e+01,5.540000e+02,0.000000e+00,6.000000e+00,0.000000e+00,2.162700e+04
25%,2.616632e+05,4.000000e+00,2.624250e+01,1.050000e+01,5.000000e+00,6.000000e+01,1.008000e+03,9.000000e+00,1.000000e+01,1.000000e+00,3.433500e+04
50%,5.238065e+05,9.000000e+00,1.035900e+02,1.900000e+01,1.350000e+01,7.400000e+01,1.016000e+03,1.260000e+01,2.100000e+01,1.000000e+00,4.226600e+04
75%,7.859498e+05,1.400000e+01,2.309400e+02,2.500000e+01,2.050000e+01,8.600000e+01,1.023000e+03,1.800000e+01,2.600000e+01,2.000000e+00,5.009100e+04
max,1.047613e+06,1.900000e+01,1.966968e+06,4.050000e+01,2.850000e+01,1.000000e+02,1.042000e+03,4.320000e+01,3.200000e+01,4.000000e+00,8.725153e+04

### 处理异常值